// Hard reset, no margins and paddings for all elements
* {
    margin: 0;
    padding: 0;
}

html {
    // Scrolling should always be smooth...
    scroll-behavior: smooth;

    // the default UI font family (at least for Microsoft)
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
