* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.white-black, form input[type=number], form input[type=button]:hover {
  background: white;
  color: black;
}

.black-white, form input[type=button] {
  background: black;
  color: white;
}

.frame, form input[type=number], form input[type=button] {
  border: 2px solid white;
  border-radius: 5px;
}

.center {
  text-align: center;
}

.hidden {
  display: none;
}

.grid {
  display: grid;
}

.input, form input[type=number], form input[type=button] {
  width: 40%;
  padding: 3% 0;
  margin: 2%;
  font-size: 1.5rem;
}

.scroll {
  overflow-y: auto;
  height: 150px;
}

form {
  width: 400px;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 15vh auto 0;
}
form .divGame .headline {
  grid-column: 1/3;
  font-size: 1.6em;
}
form .divGame input[type=button] {
  grid-column: 1/3;
  justify-self: center;
  padding: 5% 0;
  width: 50%;
}
form .divGameSetup {
  grid-template-columns: 1fr 2fr;
  justify-content: center;
}
form .divGameSetupCustom {
  width: auto;
  padding: 20px;
  grid-column: 1/3;
  grid-template-columns: 2fr 1fr;
  justify-items: left;
  align-items: center;
}
form .divGameSetupCustom input[type=number] {
  width: 100%;
}
form .divGameActive {
  text-align: center;
}
form .divGamePlay {
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
form .divGamePlay > input {
  padding: 10% 0;
  width: 90%;
}
form .divGameHints {
  padding: 0 20px;
}
form > div {
  margin: 20px 0;
  padding: 20px;
}
form input[type=button] {
  transition: all 0.3s;
}
form input[type=number] {
  outline: none;
  text-align: right;
}
form #divGameSetup input[type=radio] {
  margin: 20px;
  transform: scale(2);
}
form #divGameSetup p {
  font-size: 1.5rem;
}
